*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav::after{
    content: "";
    display: table;
    clear: both;
}

.fr{
    float: right;
}

.fl{
    float: left;
}

button{
    height: 40px;
    text-decoration: none;
    background-color: red;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.arrow{
    display: inline-block;
    margin-right: 10px;
}

header{
    position: relative;
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}

[class^=container]{
    max-width: 1200px;
    margin: 0 auto;
}

.container1{
   margin-top: 40px;
}

nav{
    padding-top: 20px;
    height: 34px;
}

.logo, .login{
    width: 25%;
}

.navbar{
    color: white;
    line-height: 34px;
    text-align: center;
    list-style: none;
    width: 50%;
}

.navbar li{
    display: inline-block;
    margin-right: 20px;
}

.login{
    text-align: right;
}

.jumbocenter{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons{
    display: inline-block;
}

h3{
    font-size: 40px;
    margin-bottom: 30px;
}

#intro{
    margin-bottom: 20px;
}

.discord-img{
    width: 60%;
}

.description{
    width: 40%;
    margin-top: 40px;
}